# Introducción a Python y Notebooks
### Autor: Jorge Alberto Ramírez García
### Curso: Analítica para la Inteligencia de Negocios

# 1. Bienvenida

¡Hola! Vamos a aprender los fundamentos de Python y Notebooks.

### Ejeución de Código en celda
- Presionando Shift + Enter se logra esto, o dando click en el botón de ejecución.
- Para agregar un comentario en código, conocido como 'inline comment', sólo basta con agregar un símbolo de gato "#" al inicio.

In [1]:
# Esto es un comentario, no afecta para nada el codigo.
print("hola mundo")

hola mundo

# 2. Tipos de datos básicos en Python.
En este punto asignaremos un valor a una variable, cuando utilizamos el signo de igual "=" una vez, se asigna un valor (no significa igualdad), y lo que este del lado izquierdo puede llevar el nombre que el desarrollador del código deseé.

In [2]:
# String (str)
string = ("esto es un string")
print("Mi nonbre: ", string)

Mi nonbre:  esto es un string

In [3]:
# Números enteros (int)
edad = 21
print("Mi edad es: ", edad)

Mi edad es:  21

In [4]:
# Números flotantes o decimales (float)
flota = 1.87
print("mi altura es: ", flota)

mi altura es:  1.87

In [5]:
# Booleanos (bool), refiere a True/False ó 0/1.
flag = 0
print("es cierto? (1/0)")
input(flag)

if flag == True:
    print("es cierto")
else:
    print("no es cierto")

es cierto? (1/0)
no es cierto

# 3. Estructuras de Datos básicos.

In [6]:
# Listas
frutas = ["manzana", "banana", "cereza"]
print("lista de frutas", frutas)

lista de frutas ['manzana', 'banana', 'cereza']

In [ ]:
# Diccionarios (normalmente siguen el formato Key/Value)
persona = {
    "Nombre": "Jorge",
    "edad": "21",
    "ciudad": "Monterrey"
}

print("informacion de la persona: ", persona)

# 4. Estructuras de control

In [ ]:
"""
Condicionales 'if statements'
Los principales signos comparativos son:
Menor que <
Mayor que >
Igual que ==
Menor igual <=
Mayor igual >=
"""

In [ ]:
# Otras formas de 'validar' información de un objeto con estructura de datos
# Ejemplo de listas.
if edad >= 18:
    print("Eres mayor de edad")
else:
    print("Eres menor de edad")

if "manzana" in frutas:
    print("si")
else:
    print("no")

In [7]:
# Bucles
# Ejemplo de un rango a con una lista hecha a mano.

for i in [0,1,2,3,4,5]:
    print(i)

0
1
2
3
4
5

In [ ]:
"""
Ejemplo de un bucle utilizando función range()
  Nota: En Python, los índices comienzan en 0 y la función range() excluye el valor final.
  Esto es importante tener en cuenta al trabajar con bucles y acceso a elementos en listas o arrays.
  Python sigue la convención de la notación de intervalos en matemáticas y ciencias de la computación [inicio, fin)
"""

for i in range(6):
    print(i)

In [ ]:
# Ejemplo con lista
for f in frutas:
    print(f)

In [ ]:
# Ejemplo combinado
# combinaremos una condicional con un bucle y utilizaremos un "format string" y variables.

fruta_favorita = "manzana"

for fruta in frutas:
    if fruta == fruta_favorita:
        print(f'La {fruta} es mi fruta favorita')
    else:
        print(f'La {fruta} no es mi favorita')

# 5. Introducción a Librerías.

### Fundamentos de Programación
1.  **Variable**: Un nombre que se asigna a un valor en un programa. Las
variables pueden almacenar diferentes tipos de datos, como números, texto o estructuras de datos más complejas.
  - `nombre = 'Jorge'`

2.  **Función**: Un bloque de código que realiza una tarea específica y puede ser reutilizado en diferentes partes del programa. Las funciones pueden recibir argumentos y devolver valores.
  - `print()`

3.  **Clase**: Una plantilla para crear objetos que define propiedades y comportamientos. Las clases son fundamentales en la programación orientada a objetos y permiten la creación de objetos personalizados.
  - `str()`, contiene métodos como `.upper()` y `.lower()`
  ```
  nombre = str('Jorge')
  print(nombre.lower())
  ```
  `[out]: 'jorge'`

4.  **Método**: Una función que se define dentro de una clase y se utiliza para realizar operaciones en objetos de esa clase. Los métodos pueden acceder y modificar los atributos de un objeto.
  - `.append()` de la clase `list` que agrega un elemento al final de una lista
    ```
    lista = ['Jorge', 'Ramírez']
    lista.append('García')
    print(lista)
    ```
    `[out]: ['Jorge', 'Ramírez', 'García']`

5.  **Librería** (o biblioteca): Un conjunto de código preescrito que proporciona funcionalidades específicas para ser utilizadas en programas. Las librerías suelen incluir funciones, clases y variables que pueden ser importadas y utilizadas en diferentes proyectos.
  - la librería `math` que proporciona funciones para cálculos matemáticos como `sin()` y `cos()`
  ```
  import math
  result = math.sin(10)
  print(result)
  ```
  `[out]: -0.5440211108893698`

6.  **Paquete**: Un conjunto de librerías o módulos relacionados que se distribuyen juntos. Los paquetes pueden incluir varias librerías, documentación y ejemplos de uso.
  - El paquete `numpy` proporciona herramientas para estructurar y analizar datos.
  ```
  import numpy
  x = np.array([1, 2, 3]) # Creación de un vector.
  suma = np.sum(x)
  print(suma)
  ```
  `[out]: 6`

## 5.1 Numpy

In [4]:
# Empezar a trabajar con Numpy, importar con alias 'np'
import numpy as np
# Crear un vector de una dimensión
vector = np.array(
    [10,20,30,40,50]

)
print(f'vector de una dimension: {vector}')

vector de una dimension: [10 20 30 40 50]

In [5]:
# Operaciones básicas con el vector
print(vector+5)
print(vector*2)
print(np.sqrt)

[15 25 35 45 55]
[ 20  40  60  80 100]
<ufunc 'sqrt'>

In [6]:
# Acceso a elementos
print(vector[0])
print(vector[-2:])

10
[40 50]

In [ ]:
# Uso práctico en negocios: Generar un vector de precios de productos
import numpy as np
# Crear un vector de una dimensión
vector = np.array(
    [299,399,499,599,699]


)
print(f'precios originales {vector}')

In [ ]:
# Aplicar un descuento del 10% a todos los productos
precios_descuento

## 5.2 Pandas

In [ ]:
# Se importa con el alias 'pd'
import pandas as pd
# Crear un DataFrame con la información similar a la anterior.
df = pd.DataFrame(
    {
        'Producto': ['Teclado', 'Monitor', 'Celular', 'Tablet'],
        'Precio': [200, 200, 200, 200]
    }
)
# Mostrar el dataframe
display(df)

In [ ]:
# Crear el mismo DataFrame a partir de vectores de Numpy
precios = np.array(
    [200, 200, 200, 200]
)

productos = np.array(
    ['Teclado', 'Monitor', 'Celular', 'Tablet']
)

df = pd.DataFrame(
    {
        'Producto': productos,
        'Precio': precios,
        'Descuento': precios * 0.9
    }
)

display(df)